// Colors
$primary-color: #908f8f;
$secondary-color: #454545;
$tertiary-color: #0d0d0db6;
$button-color: #4a30f3e7;

.title{
    background-image: linear-gradient(to top, $primary-color ,$secondary-color ,$tertiary-color);
    -webkit-background-clip: text;
    color: transparent;
}

.linkButton{
    background: $button-color;
    transition: all .2s ease;

    &:active{
        transform: scale(0.9);
    }
}