$primary:#b6f445;
$secondary:#4831d4;

.link {
transition: all .2s ease;
color: $secondary;
background: $primary;

&:hover{
    transform: scale(1.1);
    }

    &:active{
        transform: scale(0.8);
    }
}