


.bar1{
    box-shadow: 10px 10px 30px #1d1d1d1a;
    transition: all 0.2s ease-in-out;
    // background: #bbebe0ac;
    background-image: url('../../../../assets/Dev-img.jpg');
    
    
    &:hover{
        transform: translateY(-2%);
        box-shadow: 20px 30px 20px #1d1d1d25;
    }
}

.devBarStars{
    opacity: 0;
}

.desBarStars{
    opacity: 0;
}

.bar2{
    box-shadow: 10px 10px 30px #1d1d1d1a;
    transition: all 0.2s ease-in-out;
    background-image: url('../../../../assets/UX-UI-bar-img.jpg');
    
    &:hover{
        transform: translateY(-2%);
        box-shadow: 20px 30px 20px #1d1d1d25;
    }
}

.bar3{
    box-shadow: 10px 10px 30px #1d1d1d1a;
    transition: all 0.2s ease-in-out;

    &:hover{
        transform: translateY(-2%);
        box-shadow: 20px 30px 20px #1d1d1d25;
    }
}
