$primary: #0e0e0e;
$secondary: #4731d491;


.bar1{
    box-shadow: 10px 10px 30px #1d1d1d1a;
    transition: all 0.2s ease-in-out;
    &:hover{
        transform: translateY(-2%);
        box-shadow: 20px 30px 20px #00000026;
    }
}

.devBarStars{
    opacity: 0;
}

.desBarStars{
    opacity: 0;
}

.bar2{
    box-shadow: 10px 10px 30px #1d1d1d1a;
    transition: all 0.2s ease-in-out;    
    &:hover{
        transform: translateY(-2%);
        box-shadow: 20px 30px 20px #00000026;
    }
}

.bar3{
    box-shadow: 10px 10px 30px #1d1d1d1a;
    transition: all 0.2s ease-in-out;

    &:hover{
        transform: translateY(-2%);
        box-shadow: 20px 30px 20px #00000026;
    }
}

.barsSection{
    background: linear-gradient(to bottom, $primary 10%, $secondary, $primary 80%);
    width: 100%;
}