$primary:#b6f445 ;
$secondary:#4831d4 ;

.footer{
    background: linear-gradient(146deg, $secondary 50%, $secondary 60%, $primary 40%, $primary 80%, $secondary 80%);
}


.link{
    transition: all .2s ease;

    &:hover{
        transform: scale(1.05);
    }

    &:active{
        transform: scale(0.9);
    }
}


@media (width < 1565px) {
    .footer{
        background: linear-gradient(146deg, $secondary 50%, $secondary 60%, $primary 40%, $primary 90%, $secondary 80%);
    }
}

@media (width < 1024px) {
    .footer{
        background: linear-gradient(180deg, $secondary 50%, $secondary 90%, $primary 10%, $primary 90%);
    }
}