.typeScript {
  position: absolute;
  top: 20px;
  right: 100px;
}

.javascript {
  position: absolute;
  top: 210px;
  right: 500px;
}

.react {
  position: absolute;
  top: 80px;
  left: 100px;
}

.procreate {
  position: absolute;
  top: 360px;
  left: 140px;
}

.photoshop {
  position: absolute;
  bottom: 200px;
  right: 220px;
}

.figma {
  position: absolute;
  bottom: 30px;
  left: 440px;
}
